[Unit]
Description=AniMe Matrix - démon de l'écran du ROG Strix Flare II Animate
After=graphical-session.target

[Service]
ExecStart=/usr/bin/animematrixd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
